.title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0;
  padding-top: 0;
  letter-spacing: 0;
  font-size: 24px;
  font-weight: 400;
  color: #126C77;
  line-height: 64px;
  box-flex: 1;
  flex: 1;
}
